*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgb(78, 76, 76);
    padding: 20px;
    width: 500px;
    color: white;
    border-radius: 7px;
    height: 80vh;
    overflow: scroll;
}
.box::-webkit-scrollbar{
    display: none;
}
.title{
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}
.todoForm{
    margin-top: 15px;
    width: 100%;

}
.todoInput{
    width: 79%;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.todoInput::placeholder{
    font-weight: bold;
}
.todoButton{
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: orange;
    cursor: pointer;
}
.li-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin: 1rem 0;
    transition: all 0.3s;
}
.li-style:hover{
    background-color: #111;
}
.btn{
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgb(221, 5, 5);
    color: white;
}
.message-succes{
    margin-top: 10px;
    background-color: skyblue;
    padding: 7px 10px;
    border-radius: 5px;
    color: black;
    
}
.message-danger{
    margin-top: 10px;
    background-color: rgb(232, 30, 30);
    padding: 7px 10px;
    border-radius: 5px;
    color: rgb(255, 246, 246);
    
}